.dropdown {
  position: relative;
}
.dropdown-menu {
  width: 180px;
  position: absolute;
  z-index: 1; 
  height: fit-content;
  left: 0;
  top: calc(100% + 10px);
  padding: 8px 0;
  line-height: 1.5rem;
  background-color: #fff;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > li + .dropdown-menu {
  opacity: 1;
  transform: translateY(O);
  pointer-events: auto;
}
.dropdown.active > i + .dropdown-menu{
  opacity: 1;
  transform: translateY(O);
  pointer-events: auto;
}
.option-dropdown-menu{
  width: 435px;
  left: -125px;
  font-size: 14.4px;
  font-weight: 600;
  z-index: 1;
}
.option-dropdown-text{
  padding:0 20px;
}
.option-dropdown-btn{
  width: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  margin: 0 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, .6);
}
.option-dropdown-btn:hover{
  margin: 0;
  padding-left: 20px;
  background-color:  rgb(2, 37, 65);
  color: #fff;
}
.option-dropdown-btn i{
  margin-left: 6px;
  color: rgb(2, 37, 65);
}
.line{
  border: .5px solid rgba(0, 0, 0, .2);
  width: 100%;
  margin-bottom: 10px;
}
.dropdown-link {
  width: 100%;
  color: #212529;
  font-size: 14px;
  font-weight: 400;
  padding: 3px 24px;
  display: block;
  line-height: 24px;
}
.dropdown-link:hover:not(.lang-link) {
  background-color: #f9f8f8;
}
.lang-menu > .dropdown-menu {
  position: absolute;
  left: -140px;
  top:calc(100% + 19px);;
  width: 300px;
  padding: 13px !important;
  color: #212529;
}

.arrow-up {
  position: absolute;
  top: -8px;
  rotate: -90deg;
  color: #fff;
  left: 50%;
}
.lang-link > h2 {
  font-size: 21px;
  margin-bottom: 12px;
  font-weight: 700;
}
.lang-settings {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.lang-settings > .reset-btn {
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 300;
  cursor: pointer;
}
#default-lang-select {
  width: 100%;
  background-color: #e4e7eb;
  border-color: #e4e7eb;
  padding: 6px 12px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.default-lang-select{
  margin-bottom: 16px;
}

.tooltip_dropdown-menu{
  min-width: 300px !important;
  background-color: rgb(3,37,65) !important;
  padding: 14px  !important;
  color: #fff !important;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) !important;

}
